@{
    int accountId = -1;
    string accountOldPassword = null;
    bool oldPasswordMismatch = false;
    bool newPasswordMismatch = false;
    if (ViewData.ContainsKey("AccountId"))
    {
        accountId = (int)ViewData["AccountId"];
    }
    if (ViewData.ContainsKey("AccountOldPassword"))
    {
        accountOldPassword = (string)ViewData["AccountOldPassword"];
    }
    if (ViewData.ContainsKey("NewPasswordMismatch"))
    {
        newPasswordMismatch = (bool)ViewData["NewPasswordMismatch"];
    }
    if (ViewData.ContainsKey("OldPasswordMismatch"))
    {
        oldPasswordMismatch = (bool)ViewData["OldPasswordMismatch"];
    }

}
<div class="container mt-5 mb-5">
    <form method="post" action="/Common/Account/PasswordUpdate">
        <input name="accountId" value="@accountId" type="hidden">
        <input name="accountOldPassword" value="@accountOldPassword" type="hidden">
        <div class="form-group">
            <label for="retypeOldPassword">Retype old password:</label>
            <input class="form-control" id="retypeOldPassword" name="retypeOldPassword" type="password" required>
            @if(oldPasswordMismatch)
            {
                <span class="text-danger">Old password ' s wrong</span>
                <br>
            }    
        </div>
        <div class="form-group">
            <label for="accountNewPassword">New password:</label>
            <input class="form-control" id="accountNewPassword" name="accountNewPassword" type="password" required>
        </div>
        <div class="form-group">
            <label for="retypeNewPassword">Retype new password:</label>
            <input class="form-control" id="retypeNewPassword" name="retypeNewPassword" type="password" required>
            @if (newPasswordMismatch)
            {
                <span class="text-danger">Password mismatch</span>
                <br>
            }
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" asp-controller="Product" asp-action="ListAll">Back</a>
    </form>
</div>

